**/*.sw?
**/.#*
**/*#
**/*~
.classpath
.project
.settings
bin
**/build
**/out
**/target
dependency-reduced-pom.xml
**/*.sublime-*
/scratch
README.html
*.log
logs
.gradle
.idea
src_
**/*.iml
**/.DS_Store
config/download/
logs/
gradle/
docker/
log4j2-docker.xml
application-docker.properties
gradlew
gradlew.bat
